body {
  background: #eeeeee;
  font-family: Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
}

h1 {
  color: #1a237e;
  font-size: 26px;
  margin-bottom: 14px;
}

img {
  width: 900px;
  border-radius: 6px;
}

p {
  font-size: 16px;
  color: #004d40;
  margin-top: 15px;
}
